body {
    margin:0;
    padding:0;
    min-height:100vh;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 100;

    background-image: url(monroe.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;


    }

.controls {
    margin:auto;
    width:80%;  
    text-align:center;  
}

button {
  font-size:12;
  font-family: 'Playfair', sans-serif;
  font-style: italic;
  font-style: oblique;
  /* background-color:transparent; */
  /* border-color:red; */
  border-radius:1000px;
  border-style:solid;
  border-width:1px; 
  width:60px;
  height:20px;
  cursor:pointer;
  /* color:white; */
  /* box-shadow:1px 2px 8px grey; */
  margin-left:10px;
}

.disappear {
  opacity: 0;
  height:0px;
  margin:0px;
  padding:0px;
  visibility: hidden;
}

#submit {
  width:60px;
  height:20px;
  font-family: sans-serif;
}

#buttonText {
  width:60px;
  height:20px;
  font-family: sans-serif;
}

#main {
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  width:400px;
  height:400px;
  margin:25px auto 0;
}

#leftEye{
  position: absolute;
  width: 75px;
  height: 75px;
  display: flex;

  left: -25px;
  top: 330px;
}

#rightEye{
  position: absolute;
  width: 165px;
  height: 165px;
  display: flex;

  left: 140px;
  top: 300px;
}

#smile{
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;

  left: 38px;
  top: 510px;
}

#scaleSlider {
  position: absolute;
  top: 5px;
  left: -170px;

  accent-color: rgb(0, 124, 120);
}

#rotationSlider {
  position: absolute;
  top: 45px;
  left: -170px;

  accent-color: rgb(0, 72, 181);
  
}

#skewSlider {
  position: absolute;
  top: 85px;
  left: -170px;

  accent-color: rgb(245, 47, 126);

}

